body {
    background: url(../img/cielo.jpg);
    background-attachment: fixed;
}

#logo, #menu ul li:hover, .button-more, .form-error, #login button, #register button, #logout button {
    background: #1f87c4;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #000845 !important;
    background: #1f87c4 !important;
}

#reloj {
    color: #1f87c4;
    border: 5px dashed #000845;
}

#login a {
    color: #1f87c4;
}